/*start main properties*/
:root {
    --form-bg: #C4DDFF;
    --btn-color: #85b8e4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    outline: none;
}

/*end main properties*/

/* start form design */
header {
    background-color: #ddd;
    /* padding: 20px; */
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

main {
background-color: rgba(202, 206, 245, 0.225);
}

.persons_heading {
    display: flex;
    /* flex-direction: row; */
    color: #2b88a7;
    font-size: 1.3rem;
    font-weight: 500;
    margin: 10px;
    text-decoration:none;
    justify-content: center;
    align-items: center;
}

@media (max-width:850px) {
    .persons_heading {
        font-size: 1.1rem;
        text-align: center;
    }
}

@media (max-width:450px) {
    .persons_heading {
        font-size: 1rem;
    }
}

.persons_heading:hover ,
.persons_heading:focus {
    color:blueviolet;
    transition: .5s;
    scroll-behavior: smooth;
}

.form_container {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    font-size: 1rem;
    background-color: var(--form-bg);
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
    padding: 4px;
    margin: 10px;
    border-radius: 10px;
    /* border: 4px solid rgb(255, 255, 255); */
    /* align-items: center; */
    /* justify-content:center ; */
    /* gap: 10px; */
    /* height: 4.5em; */
    /* width: 100%; */
}

@media (max-width:420px) {
    .company_btn {
        flex: content;
        width: 100%;
    }
    .form_container {
        /* height: 50px; */
        flex-direction: column !important;
    }
}

.companies_search {
    padding: 11px 70px;
    border: 1px solid rgb(53, 103, 173);
    border-radius: 10px;
    font-weight: 300;
}

@media (max-width:600px){
    .companies_search {
        font-size: .9rem;
        padding:14px;
        margin-top: 5px;
    }

    .company_btn{
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
}

.companies_search:focus::placeholder {
    color: white;
}

.companies_search:hover ,
.companies_search:focus {
    border-color: blue;
} 


.company_btn {
    background-color: var(--btn-color);
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 400;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 1px;
}

.company_btn:hover ,
.company_btn:focus {
    background-color: #277BCC;
    color: #dddddd;
    transition: .5s;
}

/* end form design */

/* start persons*/

.persons , .companies ,.books {
    width: 90%;
    gap: 15px;
    margin-inline: auto;
    place-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr );
}

@media (max-width:1300px) {
    .persons , .companies ,.books{
        grid-template-columns: repeat(3 ,1fr);
    }
}

@media (max-width:1000px) {
    .persons , .companies ,.books{
        grid-template-columns: repeat(2 ,1fr);
    }
}

@media (max-width:700px) {
    .persons , .companies ,.books{
        grid-template-columns: repeat(1 ,1fr);
    }
}

.personss ,.companyy ,.bookss {
    width: 90%;
    align-items: center;
    border-radius:30px;
    box-shadow: 10px 21px 35px 0px rgba(28, 43, 75, 0.521);
    background-color: #fff;
    text-align: center;
    margin: 20px 0;
    padding: 20px;
}

/* .personss:hover , .companyy:hover , .bookss:hover ,
.personss:focus , .companyy:focus , .bookss:focus {
    transform: translateY(-10px);
    transition: .8s ;
    cursor: pointer;
    scroll-behavior: smooth;
} */

.person__poster img ,.company__poster img ,.book__poster img {
    align-items: center;
    width: 80px;
    height: 80px;
    border: 3px solid #ddd;
    border-radius: 50%;
    margin-bottom: 10px;
    -webkit-background-size: cover;
    background-size: contain;
    background-position: center;
}

.person__info , .company__info , .book__info {
    width: 100%;
    height: 100%;
}

.person__info h1 ,.company__info h1 ,.book__info h1 {
    color: #277BCC;
    font-size: 1.1rem;
    font-weight: 200;
}

.person__info span ,.company__info span ,.book__info span {
    display: flex;
    margin: 3px;
    align-items: center;
    color: #85b8e4;
}

.person__info a ,.company__info a ,.book__info a {
    display: flex;
    text-decoration:none;
    color: #80b1de;
}

.person__info a:hover ,.company__info a:hover ,.book__info a:hover {
    color: blue;
    transition: 0.5s;
}
/* end persons*/

/* loader style */
.hidden {
    display: none;
}
/*  end loader style*/

/* End project 'faker api' html, css, js, git and github */